.itemWrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
}

.itemWrap:hover {
  padding: 9px;
  border: 1px solid #000;
}

.delImg {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s;
}

.delImg:hover {
  transform: rotate(90deg) scale(1.1);
}

.actions{
  display: flex;
  align-items: center;
  gap: 20px;
}